<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Fueling List</title>
    <link rel="stylesheet" th:href="@{/styles/style.css}"/>
</head>
<body>
<h2>Fueling List</h2>
<small th:if="${success}" style="color:green;" th:text="|Your fueling for car: [${car.id} ${car.fullName}] was submitted!|">Your fueling was submitted!</small>
<br />
<a th:href="@{'/' + ${car.id} + '/fuelings/submit'}"><button type="button">Add Fueling</button></a>
<div th:unless="${#lists.isEmpty(car.getFuelings)}">
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Station name</th>
            <th>Liters</th>
            <th>Price pet liter</th>
            <th>Datum</th>
        </tr>
        <tr th:each="fueling : ${car.getFuelings}">
            <dt class="fuelingHeadline">
                    <td th:text="${fueling.id}">ID</td>
                    <td th:text="${fueling.stationName}">Station name</td>
                    <td th:text="${fueling.liters}">Liters</td>
                    <td th:text="${fueling.pricePerLiter}">Price per liter</td>
                    <td th:text="${fueling.datum}">Datum</td>

            </dt>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(car.getFuelings)}">
    <p>There are no fuelings in this list</p>
</div>
<hr/>
</body>
</html>