<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Add a car</title>
  <link rel="stylesheet" th:href="@{/styles/style.css}"/>
  <a th:href="@{'/'}"><button type="button">Back to Car list</button></a>
</head>
<body>
<h2>Add a car</h2>
<form method="POST">
  <label for="fullName">Full Name</label>
  <input type="text" name="fullName" size="50" th:value="${car != null} ? ${car.fullName}"/>
  <small th:errors="*{car.fullName}" style="color:red;"></small>
  <br/>
  <label for="fuel">Fuel</label>
  <select name="fuel">
    <option th:value="${car != null} ? ${car.fuel}" th:text="${car != null} ? ${car.fuel}">---
    </option>
    <option th:value="Diesel" th:text="Diesel"></option>
    <option th:value="Benzin" th:text="Benzin"></option>
  </select>
  <small th:errors="*{car.fuel}" style="color:red;"></small>
  <br/>
  <label for="productionYear">ProductionYear</label>
  <select name="productionYear">
    <option th:value="${car != null} ? ${car.productionYear}" th:text="${car != null} ? ${car.productionYear}">---
    </option>
    <option th:each="year : ${#numbers.sequence(#dates.year(#dates.createNow()),1900)}"
            th:value="${year}" th:text="${year}">
    </option>
  </select>
  <small th:errors="*{car.productionYear}" style="color:red;"></small>
  <br/>
  <label for="owner">Owner</label>
  <input type="text" name="owner" size="15" th:value="${car != null} ? ${car.owner}"/>
  <br/>
  <input type="submit"/>
  <small th:errors="*{car.owner}" style="color:red;"></small>
</form>
</body>
</html>