<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Car List</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
</head>
<body>
<h2>Car List</h2>
<div th:unless="${#lists.isEmpty(cars)}">
    <table style="width:100%">
        <tr>
            <th>ID</th>
            <th>Full Name</th>
            <th>Fuel</th>
            <th>Production Year</th>
            <th>Owner</th>
        </tr>
        <tr th:each="car : ${cars}">
            <dt class="carHeadline">
                <td><a class="carHeadline " th:href="@{'/' + ${car.id}}" th:text="${car.id}">ID</a></td>
                    <td th:text="${car.fullName}">Full name</td>
                    <td th:text="${car.fuel}">Fuel</td>
                    <td th:text="${car.productionYear}">ProductionYear</td>
                     <td th:text="${car.owner}">Owner</td>

            </dt>
        </tr>
    </table>
</div>
<div th:if="${#lists.isEmpty(cars)}">
    <p>There are no cars in this list</p>
</div>
<hr/>
<h3>Add a car</h3>
<form method="POST">
    <label for="fullName">Full Name</label>
    <input type="text" name="fullName" size="50"/>
    <br/>
    <label for="fuel">Fuel</label>
    <input type="text" name="fuel" size="50"/>
    <br/>
    <label for="productionYear">ProductionYear</label>
    <input type="text" name="productionYear" size="15"/>
    <br/>
    <label for="owner">Owner</label>
    <input type="text" name="owner" size="15"/>
    <br/>
    <input type="submit"/>
</form>
</body>
</html>